<div id="projects">
    <h2>{{title}}</h2>
    <div class="outerProject">
	    <div class="col-lg-6 projectPic" id="dawg-coffee">
	    	<div class="darken">
	    		<p><a href="http://students.washington.edu/maddya/info343/dawg-coffee/" target="_blank">view website</a></p>
	    	</div>
	    </div>
	    <div class="col-lg-6 projectDesc">
	    	<h3>Dawg Coffee</h3>
	    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque iste fugiat numquam officiis illo temporibus soluta expedita dignissimos non molestias, maxime mollitia odio repudiandae beatae iusto ab sunt eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem temporibus, earum? Delectus corporis eaque beatae officiis ducimus aspernatur totam cum consequatur nisi assumenda quasi veniam perferendis ad, facere labore quisquam.</p>
	    </div>
	 </div>
	 <div class="outerProject">
		<div class="col-lg-6 projectPic" id="police-shooting">
			<div class="darken">
	    		<p><a href="http://students.washington.edu/maddya/info343/police-shooting/" target="_blank">view website</a></p>
	    	</div>
	    </div>
	    <div class="col-lg-6 projectDesc">
	    	<h3>Police Shooting</h3>
	    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque iste fugiat numquam officiis illo temporibus soluta expedita dignissimos non molestias, maxime mollitia odio repudiandae beatae iusto ab sunt eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem temporibus, earum? Delectus corporis eaque beatae officiis ducimus aspernatur totam cum consequatur nisi assumenda quasi veniam perferendis ad, facere labore quisquam.</p>
	    </div>
	</div>
	<div class="outerProject">
	    <div class="col-lg-6 projectPic" id="tweety">
	    	<div class="darken">
	    		<p><a href="http://students.washington.edu/maddya/info343/" target="_blank">view website</a></p>
	    	</div>
	    </div>
	    <div class="col-lg-6 projectDesc">
	    	<h3>Tweety and the Tom-Cats</h3>
	    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque iste fugiat numquam officiis illo temporibus soluta expedita dignissimos non molestias, maxime mollitia odio repudiandae beatae iusto ab sunt eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem temporibus, earum? Delectus corporis eaque beatae officiis ducimus aspernatur totam cum consequatur nisi assumenda quasi veniam perferendis ad, facere labore quisquam.</p>
	    </div>
	</div>
	<div class="outerProject">
	    <div class="col-lg-6 projectPic" id="spotify-challenge">
	    	<div class="darken">
	    		<p><a href="http://students.washington.edu/maddya/info343/spotify-template/" target="_blank">view website</a></p>
	    	</div>
	    </div>
	    <div class="col-lg-6 projectDesc">
	    	<h3>Spotify Challenge</h3>
	    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque iste fugiat numquam officiis illo temporibus soluta expedita dignissimos non molestias, maxime mollitia odio repudiandae beatae iusto ab sunt eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem temporibus, earum? Delectus corporis eaque beatae officiis ducimus aspernatur totam cum consequatur nisi assumenda quasi veniam perferendis ad, facere labore quisquam.</p>
	    </div>
	</div>
	<div class="outerProject">
	    <div class="col-lg-6 projectPic" id="crud-web-app">
	    	<div class="darken">
	    		<p><a href="http://students.washington.edu/maddya/info343/crud-web-app/" target="_blank">view website</a></p>
	    	</div>
	    </div>
	    <div class="col-lg-6 projectDesc">
	    	<h3>CRUD Web App</h3>
	    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque iste fugiat numquam officiis illo temporibus soluta expedita dignissimos non molestias, maxime mollitia odio repudiandae beatae iusto ab sunt eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem temporibus, earum? Delectus corporis eaque beatae officiis ducimus aspernatur totam cum consequatur nisi assumenda quasi veniam perferendis ad, facere labore quisquam.</p>
	    </div>
	</div>
</div>